<!-- Bootstrap core CSS -->
<link th:href="@{/backend/assets/css/bootstrap.css}" rel="stylesheet">
<!--external css-->
<link th:href="@{/backend/assets/font-awesome/css/font-awesome.css}" rel="stylesheet" />

<link rel="stylesheet" type="text/css" th:href="@{/backend/assets/css/zabuto_calendar.css}">

<link rel="stylesheet" type="text/css" th:href="@{/backend/assets/lineicons/style.css}">

<!-- Custom styles for this template -->
<link th:href="@{/backend/assets/css/style.css}" rel="stylesheet">

<link th:href="@{/backend/assets/css/style-responsive.css}" rel="stylesheet">

<link rel="stylesheet" type="text/css" th:href="@{/backend/assets/datetimepicker/jquery.datetimepicker.css}" />

<script th:src="@{/backend/assets/js/chart-master/Chart.js}"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
