<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>修改競標商品</title>
<head th:insert="~{/backend/head}"></head>
<style>
table {
/* 	background-color: white; */
	margin-bottom: 5px;
	font-size: 13px;
	color:black;
}

table, th, td {
	border-bottom: 1px solid #CCC;
	font-weight:bold;
}

th, td {
	padding: 5px;
	text-align: left;
}
.uploadedImg{
padding: 10px;
border-radius: 10px;
margin-top: 40px;
}
.imgCss{
margin: 10px;
border-radius: 10px;
}

h3{
font-weight: bold;
color: #547492;
margin-top: 40px;
}

.file {
    position: relative;
    display: inline-block;
    background: #428bca;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 6px 16px;
    overflow: hidden;
    color: #FFFFFF;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}
.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.file:hover {
    background: #3071a9;
    border-color: #78C3F3;
    color: #FFFFFF;
    text-decoration: none;
}
</style>

</head>
<body>
<head th:insert="~{/backend/body}"></head>
<section id="main-content">
	<section class="wrapper">
		<div id="bid-content">
			<div id="table-1">
				<div>
			 		<h3>修改競標商品資料</h3>
				</div>
			</div>
<label th:text="${success}" style="color: red;"></label>
<label th:text="${message}" style="color: red;"></label>
		<form method="post" th:action="@{/bid/bidProductEditUpdate}" name="form1" id="form1">
			<table>
				<tr>
					<td>競標商品編號</td>
					<td th:text="${bidProductVO.bidProductNo}"></td>
				</tr>
				<tr>
					<td>申請單編號</td>
					<td th:text="${bidProductVO.bidApplyListNo}"></td>
				<tr>
					<td>一般商品名稱</td>
					<td>
				       <select size="1" name="productNo">
							<th:block th:each="productVO : ${productVOs}">
								<option th:value="${productVO.productNo}" th:selected="${bidProductVO.bidApplyListVO.upcNum}==${productVO.upcNum}" th:text="${productVO.productName}">
							</th:block>
				    			<option th:value="0" th:text="無對應遊戲">
	       				</select>
					</td>
				</tr>
				<tr>
					<td>商品名稱</td>
					<td><input type="text" name="bidName" size="45" th:value="${bidProductVO.bidName}" /></td>
				</tr>
				<tr>
					<td>商品敘述</td>
					<td>
						<textArea name="bidProdDescription" id="bidProdDescription" rows="6" cols="45" style="resize:none;" 
						th:text="${bidProductVO.bidProdDescription}">
						</textArea>
					</td>
				</tr>
				<tr>
					<td>賣家</td>
					<td th:text="${bidProductVO.getMemVOBySellerNo().memName}"></td>
				</tr>
				<tr>
					<td>起標價</td>
					<td><input type="number" name="initialPrice" size="45" min="0"
						th:value="${bidProductVO.initialPrice}" /></td>
				</tr>
				<tr>
					<td>最低增額</td>
					<td><input type="number" name="bidPriceIncrement" size="45"
						min="0" th:value="${bidProductVO.bidPriceIncrement}" /></td>
				</tr>
				<tr>
					<td>起標時間</td>
					<td><input name="bidLaunchedTime" id="bidLaunchedTime" type="text" 
						th:value="${#dates.format(bidProductVO.bidLaunchedTime,'yyyy-MM-dd HH:mm:ss')}"></td>
				</tr>
				<tr>
					<td>截標時間</td>
					<td><input name="bidSoldTime" id="bidSoldTime" type="text"
						th:value="${#dates.format(bidProductVO.bidSoldTime,'yyyy-MM-dd HH:mm:ss')}"></td>
				</tr>
				<tr>
					<td>得標價</td>
					<td th:text="${bidProductVO.bidWinnerPrice}"></td>
				</tr>
				<tr>
					<td>得標會員</td>
					<td th:text="${bidProductVO.getMemVOByBuyerNo()?.memName}"></td>
				</tr>
				<tr>
					<td>競標狀態</td>
					<td>
						<select size="1" name="bidState">
							<option th:value="0"
								th:selectd="${bidProductVO.bidState == 0}" th:text="競標中"></option>
							<option th:value="1"
								th:selectd="${bidProductVO.bidState == 1}" th:text="截標"></option>
							<option th:value="2"
								th:selectd="${bidProductVO.bidState == 2}" th:text="流標"></option>
							<option th:value="3"
								th:selectd="${bidProductVO.bidState == 3}" th:text="棄標"></option>
						</select>
					</td>
				</tr>
				<tr>
					<td>收件人姓名</td>
					<td><input type="text" name="receiverName" size="45"
						th:value="${bidProductVO.receiverName}" /></td>
				</tr>
				<tr>
					<td>收件人地址</td>
					<td><input type="text" name="receiverAddress" size="45"
						th:value="${bidProductVO.receiverAddress}" /></td>
				</tr>
				<tr>
					<td>收件人電話</td>
					<td><input type="text" name="receiverPhone" size="45"
						th:value="${bidProductVO.receiverPhone}" /></td>
				</tr>
				<tr>
					<td>商品狀態</td>
					<td>
						<select size="1" name="orderState">
							<option th:value="0"
								th:selected="${bidProductVO.orderState == 0}" th:text="未出貨"></option>
							<option th:value="1"
								th:selected="${bidProductVO.orderState == 1}" th:text="訂單處理中"></option>
							<option th:value="2"
								th:selected="${bidProductVO.orderState == 2}" th:text="已出貨"></option>
							<option th:value="3"
								th:selected="${bidProductVO.orderState == 3}" th:text="取回處理中"></option>
							<option th:value="4"
								th:selected="${bidProductVO.orderState == 4}" th:text="已重新申請上架"></option>
							<option th:value="5"
								th:selected="${bidProductVO.orderState == 5}" th:text="已收貨"></option>
							<option th:value="6"
								th:selected="${bidProductVO.orderState == 6}" th:text="已撥款"></option>
						</select>
					</td>
				</tr>

			</table>
			<input type="hidden" name="bidProductNo" th:value="${bidProductVO.bidProductNo}">
			<input type="hidden"name="bidApplyListNo" th:value="${bidProductVO.bidApplyListNo}">
			<input type="hidden" name="sellerNo" th:value="${bidProductVO.sellerNo}">
			<input class="btn btn-primary" type="submit" th:value="修改">
			<input class="btn btn-primary" type="reset" th:value="重設">

		</form>
		
<!-- 		圖片顯示區及刪除 -->

	<div id="delete-form" style="position: relative; left: 480px ;bottom: 750px" >
		<div th:if="${bidPicVOs.size != 0}">
			<form method="post" th:action="@{/bidpic/bidPicDelete}" style="display: flex;align-items: center" name="form2" id="form2">
				<th:block th:each="bidPicVO : ${bidPicVOs}">
					<img th:src="@{/bid/bidPicGetOneByProdPicNo?(bidProdPicNo=${bidPicVO.bidProdPicNo})}" height="128px" width="128px" class="uploadedImg">
					<input class="form-check-input delete_checkbox" style="width:15px;height:15px;" type="checkbox" name="bidProdPicNos" th:value="${bidPicVO.bidProdPicNo}">
				</th:block>
	
				<input type="hidden" name="bidProductNo" th:value="${bidProductVO.bidProductNo}">

				<button class="button btn btn-primary" type="button" onclick="submit()" style="margin-left: 10px;" >刪除圖片</button>				
			</form>
		</div>
	</div>

<!-- 	上傳圖片區 -->
	<div style="position: relative; left: 490px ;bottom: 700px">
		<form id="upload" th:action="@{/bidpic/bidPicInsertMulti}" method="POST" enctype="multipart/form-data" name="form3">
		<a href="javascript:;" class="file">選擇圖片
	        <input type="file" name="upfile" multiple id="upfile">
        </a>
					<input type="hidden" name="bidProductNo" th:value="${bidProductVO.bidProductNo}">
					
					<input class="button btn btn-primary" type="submit" value="上傳圖片" style="margin: 0 0 27px 10px">
		</form>
		<div id="picPreview" style="position: absolute ;top: 80px ; display: flex; flex-wrap: wrap; width: 450px "></div>
	</div>
</div>

	</section>

	<!--main content end-->

</section>

<head th:insert="~{/backend/footer}"></head>

	<script type="text/javascript">
	$.datetimepicker.setLocale("zh");
	$("#bidLaunchedTime").datetimepicker({
		theme : '', // theme: 'dark', 
		timepicker : true, // timepicker:true,
		step : 1, //step: 60 設定時間時分的間隔
		format : 'Y-m-d H:i:s', //format:'Y-m-d H:i:s',
		// value : new Date() // value: new Date(), 會帶入現在時間
	});
	
	$("#bidSoldTime").datetimepicker({
		theme : '', // theme: 'dark', 
		timepicker : true, // timepicker:true,
		step : 1, //step: 60 設定時間時分的間隔
		format : 'Y-m-d H:i:s', //format:'Y-m-d H:i:s',
		// value : new Date()
	});
		
		
		var filereader_support = typeof FileReader != 'undefined';

		if (!filereader_support) {
			alert("No FileReader support");
		}

		acceptedTypes = {
				'image/png' : true,
				'image/jpeg' : true,
				'image/gif' : true
		};
		

		let upfile = document.getElementById("upfile");
		upfile.addEventListener("change", function(event) {
			let files = event.target.files || event.dataTransfer.files;
			for (let i = 0; i < files.length; i++) {
				previewfile(files[i])
			}
		}, false);
		
		function previewfile(file) {
			if (filereader_support === true && acceptedTypes[file.type] === true) {
				let reader = new FileReader();
				reader.onload = function(event) {
					let image = new Image();
					image.src = event.target.result;
					image.width = 128;
					image.classList.add("imgCss");
					picPreview.appendChild(image);
				};
				reader.readAsDataURL(file);
			} else {
				picPreview.innerHTML += "<p>" + "filename: <strong>" + file.name
						+ "</strong><br>" + "ContentTyp: <strong>" + file.type
						+ "</strong><br>" + "size: <strong>" + file.size
						+ "</strong> bytes</p>";
			}
		}
		// 當upload重新選擇 清空舊有資料
		$("#upload").change(function(){
		    $("#picPreview").empty() // 清空當下預覽
		    previewfile(this.files) // this即為<input>元素
		})

	</script>
</body>
</html>